.main-container {
    display: flex;
    width: 100vw;
    min-height: calc(100vh - 64px);
    background-color: var(--color-white);
    gap: 48px;
    @media only screen and (max-width: 480px) {
        padding: 0;
    }
    @media only screen and (min-width: 481px) {
        padding: 0;
    }
    @media only screen and (min-width: 1024px) {
        padding: 0 20vw;
    }
}