.main-container {
    display: flex;
    width: 100vw;
    min-height: calc(100vh - 64px);
    background-color: white;
    @media only screen and (max-width: 480px) {
        padding: 0;
    }
    @media only screen and (min-width: 481px) {
        padding: 0;
    }
    @media only screen and (min-width: 1024px) {
        padding-left: 20vw;
        padding-right: 14vw;
    }
}