.post-details-container {
    display: flex;
    justify-content: space-between;
    .details-container {
        display: flex;
        gap: 12px;

        .username {
            display: inline;
            font-size: 16px;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
            margin-right: 4px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
        .name {
            display: inline;
            font-size: 14px;
            color: #66605f;
            cursor: pointer;
            &:hover .username {
                text-decoration: underline;
            }
        }
        .caption {
            white-space: pre-wrap;
            max-width: 480px;
            margin-top: 4px;
            font-size: 16px;
            color: #525755;
            cursor: default;
            font-size: 16px;
            font-family: 'Figtree', sans-serif;

        }
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 88px;
        height: 32px;;
        color: #fc2c53;
        background-color: transparent;
        font-size: 14px;
        font-weight: 600;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
        border: 1px solid #fc2c53;
        border-radius: 4px;
        &:hover {
            background-color: #fff3f5;
        }
    }
    
    .button-active {
        border: 1px solid #ececec;
        color: black;
        &:hover {
            background-color:#f8f8f8;
        }
    }
}