.comment {
    display: flex;
    gap: 16px;
    .comment-details-container {
        flex: 1 1 auto;
        .name {
            font-weight: 600;
            font-family: "Poppins", sans-serif;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
            .creator {
                position: relative;
                font-size: 14px;
                margin-left: 12px;
                color: var(--color-primary-1);
                &:before {
                    content: " . ";
                    position:absolute;
                    left: -8px;
                    top: -4px;
                    color: var(--color-black);
                    font-weight: 800;
                }
            }
        }
        .comment {
            color: #252429;
            margin-bottom: 4px;
        }
        .comment-date {
            color: #b2b2b2;
            font-size: 14px;
        }
    }

    .like-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
            width: 20px;
            height: 20px;
        }
        p {
            // color: #b2b2b2;
            font-size: 14px;
        }
    }
}