.sidebar-container {
    height: 100vh;
    width: 320px;
    padding-top: 16px;
    position: sticky;
    top: 64px;
    z-index: 1;
    .menu-container {
        border-bottom: 1px solid #e8e8e8;
        width: 100%;
        display: flex;
        flex-direction: column;
        .menu-link {
            display: flex;
            align-items: center;
            gap: 16px;
            font-weight: 600;
            font-family: 'Poppins', sans-serif;
            height: 48px;
            transition: all ease-in .2s;
            &:hover {
                background-color: #e8e8e8;
            }
            img {
                margin-left: 8px;
                width: 28px;
            }
            &.link-active {
                color: #fc2c53;
            }
        }
    }
    .menu-user-container {
        border-bottom: 1px solid #e8e8e8;
        width: 100%;
        h3 {
            font-family: 'Figtree', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #66605f;
            margin: 8px;
        }
        .placeholder-text {
            padding: 0 0 8px 10px;
            font-size: 13px;
            color: #ababad;
        }
    }
}