.user-container {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition: all ease-in .2s;

    &:hover {
        background-color: #e8e8e8;
    }
    
    div {
        .username {
            font-weight: 700;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
        }
        .name {
            font-size: 13px;
            color: #ababad;
        }
    }
}