*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-black);
    margin: 0;
    min-height: 100vh;
    font-family: 'Figtree', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, .bold {
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.dim {
    opacity: 1;
}

:root {
    // pink
    --color-primary-1: #fc2c53;

    // gray
    --color-gray-1: #525755;
    --color-gray-2: #66605f; //side menu title
    --color-gray-3: #ababad;
    --color-gray-4: #e8e8e8; //border-bottom of menu / hover of menu

    --color-black: #252028;
}