.video-full-screen {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    .close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 16px;
        left: 16px;
        border-radius: 50%;
        height: 36px;
        width: 36px;
        background-color:#524745;
        cursor: pointer;
        border: none;
        z-index:10;
        img {
            height: 28px;
            width: 28px;
        }
    }
    video {
        width: 72vw;
        height: 100vh;
        background-color: #121212;
    }

    .details-container {
        background-color: white;
        width: 28vw;
        display: flex;
        flex-direction: column;
    }

    .comments-container {
        flex: 1 1 auto;
        border-top: 1px solid #d8d8d8; 
        border-bottom: 1px solid #d8d8d8; 
        background-color: #f8f8f8;
        overflow-y: scroll;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .comment-box {
        height: 80px;
        display: flex;
        padding: 0 24px;
        align-items: center;
        input {
            height: 40px;
            flex: 1 1 auto;
            padding: 8px 16px;
            border-radius: 8px;
            border: none;
            outline: none;
            background-color:#f1f1f3;
            margin-right: 16px;
            &:focus-within {
                border: 1px solid #c9c9cb;
            }
        }
        button {
            height: 40px;
            padding: 0 16px;
            background-color: white;
            border: none;
            cursor: pointer;
        }
    }

    .post-details-container {
        padding: 32px;
        .details-container{ 
            display: flex;
            flex-direction: row;
            .name {
                display: block;
                margin-bottom: 24px;
            }
        }
        button {
            padding-left: 32px;
            padding-right: 32px;
        }
    }
}