.video-full-screen {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;

    .close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 16px;
        left: 16px;
        border-radius: 50%;
        height: 36px;
        width: 36px;
        background-color:#524745;
        cursor: pointer;
        border: none;
        z-index:10;
        img {
            height: 28px;
            width: 28px;
        }
    }

    video {
        width: 72vw;
        height: 100vh;
        background-color: #121212;
    }

    .video-details-container {
        background-color: var(--color-white);
        width: 28vw;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .video-details {
            padding: 40px 40px 0 40px;
            display: flex;
            .user {
                display: flex;
                align-items: center;
                gap: 12px;
                div {
                    .username {
                        margin-right: 4px;
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    .name {
                        font-size: 14px;
                        cursor: pointer;
                        color: var(--color-black);
                        .details {
                            position: relative;
                            padding-left: 8px;
                            &:before {
                                content: ".";
                                position:absolute;
                                left: 2px;
                                top: -4px;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

            .btn {
                margin-left: auto;
            }
        }
        .caption {
            margin-left: 40px;
        }
        .reactions {
            margin-left: 40px;
            flex-direction: row;
            justify-content: flex-start;
            gap: 32px;
            .reaction {
                display: flex;
                flex-direction: row;
                div {
                    height: 32px;
                    width: 32px;
                    img {
                        height: 18px;
                        width: 18px;
                    }
                }
            }
        }

        .comments {
            flex: 1 1 auto;
            border-top: 1px solid #d8d8d8; 
            border-bottom: 1px solid #d8d8d8; 
            background-color: var(--color-gray-5);
            overflow-y: scroll;
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        
        .comment-form {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 32px;
            padding-left: 32px;
            padding-right: 32px;
            flex: 0 0 60px;
            input {
                height: 40px;
                flex: 1 1 auto;
                padding: 8px 16px;
                border-radius: 8px;
                border: none;
                outline: none;
                background-color:#f1f1f3;
                margin-right: 16px;
                &:focus-within {
                    border: 1px solid #c9c9cb;
                }
            }
            button {
                height: 40px;
                padding: 0 16px;
                background-color: var(--color-white);
                border: none;
                cursor: pointer;
            }
        }
    }
}