.navigation {
    position: sticky;
    display: flex;
    align-items: center;
    top: 0;
    width: 100vw;
    height: 64px;
    padding: 16px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-gray-4);
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px -1px;
    z-index: 2;
    @media only screen and (min-width: 1024px) {
        padding: 16px 22vw 16px 20vw;
    }

    .navigation-links {
        display: flex;
        align-items: center;
        height: 40px;        
        margin-left: auto;
        gap: 24px;
    }

    .dropdown {
        margin-top: 4px;
    }
}